<ion-header>
  <div class="cabecera">
    <ion-title class="md" class="ion-text-center ion-3x ion-align-items-center"><ion-icon name="logo-electron" ></ion-icon>Ledger</ion-title>
    <ion-title class="migasPan">
  
    </ion-title>

    <ul id="UL_1">
      <li id="LI_2">
        1
      </li>
      <li id="LI_3">
      </li>
      <li id="LI_4">
        2
      </li>
      <li id="LI_5">
      </li>
      <li id="LI_6">
        3
      </li>
      <li id="LI_7">
      </li>
      <li id="LI_8">
        4
      </li>
    </ul>

  </div>

  <div class="precio">
    <div>Total</div>
    <div>119.00 € </div>
  </div>
</ion-header>

<ion-content>

  <ion-label class="ion-margin titulo">Dirección de envio</ion-label>

  <div class="container">
    <ion-text color="dark">
      <p>{{userName}}</p>
    </ion-text>
    <ion-text color="dark">
      <p>{{userSurname}}</p>
    </ion-text>
  </div>
  <div class="container">
    <ion-text color="medium">
      <p>{{userDireccion}}</p>
    </ion-text>
  </div>
  <div class="container">
    <ion-text color="medium">
      <p>{{userTelf}}</p>
    </ion-text>
  </div>
  <div class="container">
    <ion-text color="success">
       <p class="subtitulo">Editar</p>
    </ion-text>
  </div>


  <ion-label class="ion-margin titulo">Metodo de envio</ion-label>

  <div>
    <ion-label class="subtitulo">Traked Shopping with DHL Economy (2-5 Business Days) </ion-label>
    <ion-item>
      <ion-label class="letraAmarilla" color="warning">Offers including a Name X will be  shipped in two weeks</ion-label>
      <ion-radio slot="start" value="biff"></ion-radio>
    </ion-item>
    <ion-label color="success" class="subtitulo">FREE SHIPPING</ion-label>

  </div>
  <div>
    <ion-label class="subtitulo">Express Shipping DHL, Express (1-2 Business Days) </ion-label>
    <ion-item>
      <ion-label class="letraAmarilla" color="warning">Offers including a Name X will be  shipped in two weeks</ion-label>
      <ion-radio slot="start" value="biff"></ion-radio>
    </ion-item>
    <ion-label color="dark" class="subtitulo">10.58€</ion-label>

  </div>
  <div>
    <ion-button (click)="continuar()" color="success" expand="block" routerLink="/paso3">Continuar</ion-button>
  </div>
  <div>
    <ion-button  color="medium" expand="block" routerLink="/paso1">Back</ion-button>
  </div>


</ion-content>
