ion-header{
    margin-bottom: 20px;
}
.precio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    padding: 10px;
}
.marginTop{
    margin-top: 5px;
}
.border{
    border: solid 1px grey;
    height: 100%;
}
.letraAmarilla{
    font-size: 12px;
}
.subtitulo{
    font-size: 12px;
    margin-left: 70px;
}
.titulo{
    font-size: 20px;
}
.container{
    margin-left: 50px;
}
ion-input{
    margin-top: 10px;
    margin-bottom: 10px;
}
ion-content{
    padding: 10px;
}
ion-label{
    padding: 10px;
}

.cabecera{
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

#UL_1 {
    align-items: center;
    block-size: 24px;
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    box-sizing: border-box;
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    display: flex;
    height: 24px;
    inline-size: 156px;
    justify-content: flex-end;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    perspective-origin: 78px 12px;
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 78px 12px;
    width: 156px;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px;
    outline: rgb(64, 64, 64) none 0px;
    padding: 0px;
}/*#UL_1*/

#UL_1:after {
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    display: block;
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(64, 64, 64) none 0px;
}/*#UL_1:after*/

#UL_1:before {
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    display: block;
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(64, 64, 64) none 0px;
}/*#UL_1:before*/

#LI_2 {
    background-position: -1px -1px;
    block-size: 24px;
    border-block-end-color: rgb(65, 204, 180);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(65, 204, 180);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 99px;
    border-end-start-radius: 99px;
    border-inline-end-color: rgb(65, 204, 180);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(65, 204, 180);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 99px;
    border-start-start-radius: 99px;
    box-sizing: border-box;
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    height: 24px;
    inline-size: 24px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 12px 12px;
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-indent: -30px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 12px 12px;
    width: 24px;
    background: rgb(65, 204, 180) url("https://cdn.shopify.com/s/files/1/2974/4858/t/201/assets/checkmark.svg?v=3432758230853087014") no-repeat scroll -1px -1px / auto padding-box border-box;
    border: 1px solid rgb(65, 204, 180);
    border-radius: 99px;
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
    overflow: hidden;
}/*#LI_2*/

#LI_2:after {
    border-block-end-color: rgb(153, 153, 153);
    border-block-start-color: rgb(153, 153, 153);
    border-inline-end-color: rgb(153, 153, 153);
    border-inline-start-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-indent: -30px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(153, 153, 153);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
}/*#LI_2:after*/

#LI_2:before {
    border-block-end-color: rgb(153, 153, 153);
    border-block-start-color: rgb(153, 153, 153);
    border-inline-end-color: rgb(153, 153, 153);
    border-inline-start-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-indent: -30px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(153, 153, 153);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
}/*#LI_2:before*/

#LI_3, #LI_5, #LI_7 {
    block-size: 1px;
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    box-sizing: border-box;
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    height: 1px;
    inline-size: 12px;
    margin-inline-end: 4px;
    margin-inline-start: 4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 6px 0.5px;
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 6px 0.5px;
    width: 12px;
    background: rgb(153, 153, 153) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    margin: 0px 4px;
    outline: rgb(64, 64, 64) none 0px;
}/*#LI_3, #LI_5, #LI_7*/

#LI_3:after, #LI_5:after, #LI_7:after {
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(64, 64, 64) none 0px;
}/*#LI_3:after, #LI_5:after, #LI_7:after*/

#LI_3:before, #LI_5:before, #LI_7:before {
    border-block-end-color: rgb(64, 64, 64);
    border-block-start-color: rgb(64, 64, 64);
    border-inline-end-color: rgb(64, 64, 64);
    border-inline-start-color: rgb(64, 64, 64);
    caret-color: rgb(64, 64, 64);
    color: rgb(64, 64, 64);
    column-rule-color: rgb(64, 64, 64);
    text-decoration: none solid rgb(64, 64, 64);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(64, 64, 64);
    font: 16px / 20px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(64, 64, 64) none 0px;
}/*#LI_3:before, #LI_5:before, #LI_7:before*/

#LI_4 {
    block-size: 24px;
    border-block-end-color: rgb(65, 204, 180);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(65, 204, 180);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 99px;
    border-end-start-radius: 99px;
    border-inline-end-color: rgb(65, 204, 180);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(65, 204, 180);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 99px;
    border-start-start-radius: 99px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 24px;
    inline-size: 24px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 12px 12px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 12px 12px;
    width: 24px;
    background: rgb(65, 204, 180) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(65, 204, 180);
    border-radius: 99px;
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_4*/

#LI_4:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_4:after*/

#LI_4:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#LI_4:before*/

#LI_6, #LI_8 {
    block-size: 24px;
    border-block-end-color: rgb(153, 153, 153);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(153, 153, 153);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 99px;
    border-end-start-radius: 99px;
    border-inline-end-color: rgb(153, 153, 153);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(153, 153, 153);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 99px;
    border-start-start-radius: 99px;
    box-sizing: border-box;
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    height: 24px;
    inline-size: 24px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 12px 12px;
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 12px 12px;
    width: 24px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 99px;
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
}/*#LI_6, #LI_8*/

#LI_6:after, #LI_8:after {
    border-block-end-color: rgb(153, 153, 153);
    border-block-start-color: rgb(153, 153, 153);
    border-inline-end-color: rgb(153, 153, 153);
    border-inline-start-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(153, 153, 153);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
}/*#LI_6:after, #LI_8:after*/

#LI_6:before, #LI_8:before {
    border-block-end-color: rgb(153, 153, 153);
    border-block-start-color: rgb(153, 153, 153);
    border-inline-end-color: rgb(153, 153, 153);
    border-inline-start-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none solid rgb(153, 153, 153);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    border: 0px none rgb(153, 153, 153);
    font: 16px / 24px Roboto, sans-serif;
    list-style: outside none none;
    outline: rgb(153, 153, 153) none 0px;
}/*#LI_6:before, #LI_8:before*/

