<ion-header>
  <ion-toolbar>
    <ion-title>paso4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    <h1>Resumen de los datos</h1>
  </ion-text>

  <ion-text>
    <h3>Datos personales</h3>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-label>Nombre: {{dataUser.userName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{dataUser.userSurname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Direccion: {{direccion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{dataUser.userMail}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono: {{dataUser.userTelf}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-text>
    <h3>Datos bancarios</h3>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-label>Titular: {{card.cardName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nº tarjeta: {{card.cardNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha caducidad: {{card.cardMonth}} / {{card.cardYear}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CVV: {{card.cardCVV}}</ion-label>
    </ion-item>
  </ion-list>


  <div>
    <ion-button  color="medium" expand="block" routerLink="/paso1">Back</ion-button>
  </div>

</ion-content>
