<ion-header>
  <div class="cabecera">
    <ion-title class="md" class="ion-text-center ion-3x ion-align-items-center"><ion-icon name="logo-electron" ></ion-icon>Ledger</ion-title>
    <ion-title class="migasPan">
  
    </ion-title>

    <ul id="UL_1">
      <li id="LI_2">
        1
      </li>
      <li id="LI_3">
      </li>
      <li id="LI_4">
        2
      </li>
      <li id="LI_5">
      </li>
      <li id="LI_6">
        3
      </li>
      <li id="LI_7">
      </li>
      <li id="LI_8">
        4
      </li>
    </ul>

  </div>

  <div class="precio">
    <div>Total</div>
    <div>119.00 € </div>
  </div>
</ion-header>

<ion-content>


    
    <ion-label class="ion-margin">Código promocional</ion-label>
    <div  class="myItem">
      <ion-input type="text" class="border" no-lines placeholder="Introduzca el código (Opcional)" ></ion-input>
      <button ion-button slot="end">Aplicar</button>
    </div>

    <ion-label class="ion-margin">Información del cliente</ion-label>
    <div  class="myItem">
      <ion-input type="email" [(ngModel)]="userMail" class="border" placeholder="Correo electrónico" ></ion-input>
      
    </div>

    <div class="myItem myCheckbox">
      <ion-checkbox></ion-checkbox>
      <ion-label>I conset to recevin emails from Ledger about products, updates and industry news</ion-label>
    </div>

    <ion-label class="ion-margin">Estoy comprando como</ion-label>
    <div  class="myItem myFormStyle">
      <div>
        <ion-input placeholder="Primer nombre" [(ngModel)]="userName" class="border"></ion-input>
        <ion-input placeholder="Apellido" [(ngModel)]="userSurname" class="border"></ion-input>
      </div>
      <div>
        <ion-input placeholder="Empresa (Opcional)" [(ngModel)]="userEmpresa" class="border"></ion-input>
      </div>
      <div>
        <ion-input placeholder="Direccion Línea 1" [(ngModel)]="userDireccionOne" class="border"></ion-input>
      </div>
      <div>
        <ion-input placeholder="Direccion Línea 2 (Opcional)" [(ngModel)]="userDireccionTwo"  class="border"></ion-input>
      </div>
      <div>
        <ion-select placeholder="Pais" [(ngModel)]="userPais">
          <ion-select-option value="Spain">Spain</ion-select-option>
          <ion-select-option value="Portugal">Portugal</ion-select-option>
          <ion-select-option value="France">France</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-input placeholder="Ciudad" class="border" [(ngModel)]="userCiudad"></ion-input>
        <ion-select placeholder="Provincia" [(ngModel)]="userProvincia">
          <ion-select-option value="Euskadi">Euskadi</ion-select-option>
          <ion-select-option value="Cataluña">Cataluña</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-input placeholder="Código Postal" class="border" [(ngModel)]="userCP"></ion-input>
        <ion-input placeholder="Teléfono" class="border" [(ngModel)]="userTelf"></ion-input>
      </div>
      <div>
        <ion-button (click)="continuar()" color="success" expand="block" routerLink="/paso2">Continuar</ion-button>
      </div>
        
      </div>

  
  

</ion-content>
