<ion-header>
  <div class="cabecera">
    <ion-title class="md" class="ion-text-center ion-3x ion-align-items-center"><ion-icon name="logo-electron" ></ion-icon>Ledger</ion-title>
    <ion-title class="migasPan">
  
    </ion-title>

    <ul id="UL_1">
      <li id="LI_2">
        1
      </li>
      <li id="LI_3">
      </li>
      <li id="LI_4">
        2
      </li>
      <li id="LI_5">
      </li>
      <li id="LI_6">
        3
      </li>
      <li id="LI_7">
      </li>
      <li id="LI_8">
        4
      </li>
    </ul>

  </div>

  <div class="precio">
    <div>Total</div>
    <div>119.00 € </div>
  </div>
</ion-header>

<ion-content>

  <ion-label class="ion-margin">Método de pago</ion-label>
<div>
  <ion-item>
    <ion-label>Tarjeta de crédito</ion-label>
    
      <div class="tarjetas">
        <img src="https://flowcdn.io/util/logos/payment-methods/visa/60/original.png" alt="VISA" id="IMG_8" />
        <img src="https://flowcdn.io/util/logos/payment-methods/mastercard/60/original.png" alt="Mastercard" id="IMG_10" />
        <img src="https://flowcdn.io/util/logos/payment-methods/american_express/60/original.png" alt="American Express" id="IMG_12" />
        <img src="https://flowcdn.io/util/logos/payment-methods/discover/60/original.png" alt="Discover" id="IMG_14" />
        <img src="https://flowcdn.io/util/logos/payment-methods/maestro/60/original.png" alt="Maestro" id="IMG_16" />
      </div>
  
    <ion-radio  slot="start" checked></ion-radio>
  </ion-item>
  <div>
    <ion-input placeholder="Carc Number"  [(ngModel)]="cardNumber" class="border myInput"></ion-input>
  </div>
  <div>
    <ion-input placeholder="Card Holder Name" [(ngModel)]="cardName" class="border myInput"></ion-input>
  </div>
  <div>
    <ion-input placeholder="Exp Month (MM)" [(ngModel)]="cardMonth" class="border myInput"></ion-input>
    <ion-input placeholder="Exp Year (YYYY)" [(ngModel)]="cardYear" class="border myInput"></ion-input>
  </div>
  <div>
    <ion-input placeholder="CVV" [(ngModel)]="cardCVV" class="border myInput"></ion-input>
  </div>
</div>
<div>
  <ion-item>
    <img class="logoSize" src="./../../assets/paypal.png" alt="">
    <ion-radio slot="start" [(ngModel)]="payPal" ></ion-radio>
  </ion-item>
</div>

  <ion-label class="ion-margin">Código promocional</ion-label>
    <div  class="myItem">
      <ion-input type="text" class="border myInput" no-lines placeholder="Introduzca el código (Opcional)" ></ion-input>
      <button ion-button slot="end">Aplicar</button>
    </div>

    <div>
      <ion-label class="ion-margin">Dirección de facturación</ion-label>
      
        <ion-item>
          <ion-label>Igual que la dirección de envio</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Usar una direccion diferente</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
    </div>

    <div>
      <ion-item>
        <p>I agree with the Sales Terms and Conditions with the Website Terms of Use</p>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </div>
    <div class="fondoGris myPadding">
      <ion-text color="dark"  >
        <p>El método de pago que seleccionó puede requerir una verificacion adicional. Es posible  que se le redireccione a un sitio de un tercero para completar la verificación</p>
      </ion-text>
    </div>


  <div>
    <ion-button (click)="continuar()" color="success" expand="block" routerLink="/paso4">Continuar</ion-button>
  </div>
  <div>
    <ion-button  color="medium" expand="block" routerLink="/paso1">Back</ion-button>
  </div>

</ion-content>
