<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-title class="md" class="ion-text-center ion-3x ion-align-items-center"><ion-icon name="logo-electron" ></ion-icon>Ledger</ion-title>
  <ion-button routerLink="/paso1" expand="block" shape="round">
    CheckOut
  </ion-button>

  

  
</ion-content>
